.Character {
    text-align: center;
    color: darkmagenta;
    font-family: fantasy;
}

.CharacterName {
    padding-bottom: 8px;
}

h1 {
    color: blueviolet;
    text-align: center;
}

body {
    background-color: #0d1016;
}